*{
    margin: 0;
    padding:0
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.menu-bar{
    height: 100px;
    background-color: black;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    display: flex;
    padding: 10px
}

#page-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#products-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
}
